:host {
  display: block;
}

.content {
  padding-bottom: .75rem
}

/* .student-container {
  width: 200%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
} */

.student-container p {
  font-size: 1.2em !important;
}

.student-container.open {
  transform: translateX(-50%);
}
.text-center {
  text-align: center
}

.avatar-container {
  display: inline-block;
  margin: .75em auto
}
