:host {
  display: block;
}

.content {
  padding-bottom: .75rem
}

/* .student-container {
  width: 200%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
} */

.student-container p {
  font-size: 1.0em !important;
}

.student-container.open {
  transform: translateX(-50%);
}
.text-center {
  text-align: center
}

.avatar-container {
  display: inline-block;
  margin: .75em auto
}
[class^="student-image-"] {
  border-radius: 50%;
}
.student-image-large {
  border: .5rem solid #fff;
  max-width: 144px;
  height: auto;
  margin: 0 auto;
}
.student-image-small {
  max-width: 48px;
  height: auto;
  margin-right: .5rem;
}
.text-center {
  text-align: center
}

h2 {
  margin: 5px 0 0;
}

.button-container {
  margin-bottom: 1.5rem;
}